Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

isort:
  name: isort
  entry: isort
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py36-plus
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

feat: improve type annotations
  pyproject.toml
  translation_finder/api.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: use more pathlib
  pyproject.toml
  translation_finder/discovery/base.py
  translation_finder/discovery/result.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix: encoding detection with new charset_normalizer api
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: fix formatting
  translation_finder/discovery/transifex.py
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: release today
  CHANGES.rst
Due: blacken-docs

chore: setting version to 2.19
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

fix: avoid crash on YAML files ruamel.yaml can not parse
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: release
  CHANGES.rst
Due: blacken-docs

chore: bump version to 2.20
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .github/FUNDING.yml
Due: none

chore: remove no longer needed params for setup-uv
  .github/workflows/mypy.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  SECURITY.md
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json
Due: blacken-docs

chore: ignore uv.lock
  .gitignore
Due: none

fix: correct stdout type annotations
  translation_finder/api.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix(ci): update codeql flow
  .github/workflows/codeql-analysis.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/closing.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/closing.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/stale.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/closing.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/setup.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Due: none

feat: add markdown
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: release today
  CHANGES.rst
Due: blacken-docs

chore: bump version to 2.21
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

fix: eliminate license files
  pyproject.toml
Due: none

Revert "chore: bump version to 2.21"
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: update licensing metadata
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  pyproject.toml
Due: none

chore: remove legacy setting
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  .editorconfig
  .github/renovate.json
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
Due: none

chore: Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/closing.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/label-sync.yml
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
Due: none

chore: Sync with WeblateOrg/meta
  SECURITY.md
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  pyupgrade: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  black: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  flake8: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
