Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py36-plus
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.0
    hooks:
      - id: yamllint
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
exclude: "^.*\\.(properties)|\
  translation_finder/test_data/app/src/res/main/values-it/strings.xml|\
  translation_finder/test_data/app/src/res/main/values/strings.xml|\
  translation_finder/test_data/json/bom-en.json|\
  translation_finder/test_data/yaml/en/corrupt.yml$"

CI: Update pre-commit configuration
  .pre-commit-config.yaml
  requirements-lint.txt
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
  .pre-commit-config.yaml
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
  .github/workflows/pull_requests.yaml
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/pull_requests.yaml
  README.rst
Due: blacken-docs

CI: Fix language-data installation
  .github/workflows/setup.yml
  .github/workflows/test.yml
Due: none

CI: Adjust to branch change
  .github/workflows/codeql-analysis.yml
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
  .github/workflows/closing.yml
  .github/workflows/label-sync.yml
  .github/workflows/setup.yml
  .github/workflows/stale.yml
Due: blacken-docs

Fixed detection of POT files in top level directory
  CHANGES.rst
  translation_finder/discovery/base.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/labels.yml
Due: none

Detect other XLIFF variants
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/support_question.md
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/closing.yml
  .github/workflows/labels.yml
  .github/workflows/pull_requests.yaml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/closing.yml
Due: none

Added support for detecting stringsdict files
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: Set release date
  CHANGES.rst
Due: blacken-docs

Setting version to 2.11
  CHANGES.rst
  setup.cfg
Due: blacken-docs

ci: Add missing matrix
  .github/workflows/codeql-analysis.yml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/pull_requests.yaml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/stale.yml
Due: none

setup: Add more links
  setup.cfg
Due: none

Create Sjenica1
  Sjenica1
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.md
  .github/ISSUE_TEMPLATE/support_question.yml
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.yml
Due: none

Sync with WeblateOrg/meta
  .github/dependabot.yml
Due: none

data: Add dry to languages blacklist
  translation_finder/data.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/labels.yml
  .github/workflows/closing.yml
  setup.py
  translation_finder/__init__.py
  translation_finder/api.py
  translation_finder/chardet.py
  translation_finder/data.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
  translation_finder/test_api.py
  translation_finder/test_chardet.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
  weblate-discovery
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/flake8.yml
  .github/workflows/pre-commit.yml
Due: none

data: Exclude bug language code
  translation_finder/data.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Exclude common virtualenv directories
  CHANGES.rst
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

finder: Ignore .github dirs
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

ci: Test against Python 3.10
  .github/workflows/test.yml
  CHANGES.rst
  setup.cfg
Due: blacken-docs

Prepare for a release
  CHANGES.rst
Due: blacken-docs

Setting version to 2.12
  CHANGES.rst
  setup.cfg
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/.kodiak.toml
  .github/workflows/flake8.yml
  .github/workflows/pre-commit.yml
Due: none

discovery: Merge two if conditions
  translation_finder/discovery/base.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .bettercodehub.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.yml
  .github/dependabot.yml
  .github/workflows/closing.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake8.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/setup.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .yamllint.yml
  codecov.yml
  translation_finder/test_data/yaml/cs.yml
  translation_finder/test_data/yaml/cs/cs.yml
  translation_finder/test_data/yaml/en.yml
  translation_finder/test_data/yaml/en/en.yml
  translation_finder/test_data/yaml/en/nomatch.yml
Due: none

Sync with WeblateOrg/meta
  .bettercodehub.yml
Due: none

Use charset-normalizer for charset detection
  CHANGES.rst
  requirements.txt
  translation_finder/chardet.py
  translation_finder/discovery/base.py
  translation_finder/test_chardet.py
Due: isort, pyupgrade, black, flake8, blacken-docs
