Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py36-plus
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.0
    hooks:
      - id: yamllint
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
exclude: "^.*\\.(properties)|\
  translation_finder/test_data/app/src/res/main/values-it/strings.xml|\
  translation_finder/test_data/app/src/res/main/values/strings.xml|\
  translation_finder/test_data/json/bom-en.json|\
  translation_finder/test_data/yaml/en/corrupt.yml$"

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

fix: ignore .DS_Store folders
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat(ci): publish releases on GitHub as well
  .github/workflows/setup.yml
Due: none

chore: update coverage configuration
  pyproject.toml
Due: none

fix: make boolean parameters kwargs only
  pyproject.toml
  translation_finder/api.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/transifex.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix: clarify some docstrings
  pyproject.toml
  translation_finder/api.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: type annotate class variables
  pyproject.toml
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/transifex.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix: clarify that DiscoveryResult is unhashable
  pyproject.toml
  translation_finder/discovery/result.py
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: document changes
  CHANGES.rst
Due: blacken-docs

fix: avoid type error on __hash__
  translation_finder/discovery/result.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: add hint to the cli interface
  translation_finder/api.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix(appstore): avoid false positive matches with hint
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: bump version to 2.22
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: add funding meta data
  .reuse/dep5
  .well-known/funding-manifest-urls
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/dependency-review.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .pre-commit-config.yaml
Due: none

fix(ci): remove unused pre-commit checks
  .pre-commit-config.yaml
Due: none

feat: automatically detect FormatJS files
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: use pytest-github-actions-annotate-failures for annotating tests
  .github/matchers/pytest.json
  .github/matchers/pytest.json.license
  pyproject.toml
Due: none

feat: improve Android detection
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: release 2.23
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: bump version to 2.23
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .pre-commit-config.yaml
Due: blacken-docs

feat(ci): test with Python 3.14
  .github/workflows/test.yml
Due: none
