Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py36-plus
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.0
    hooks:
      - id: yamllint
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
exclude: "^.*\\.(properties)|\
  translation_finder/test_data/app/src/res/main/values-it/strings.xml|\
  translation_finder/test_data/app/src/res/main/values/strings.xml|\
  translation_finder/test_data/json/bom-en.json|\
  translation_finder/test_data/yaml/en/corrupt.yml$"

chore: improve results tests (#691)
  translation_finder/test_results.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Apply suggestion from @nijel
  translation_finder/test_finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: improve test coverage for finder (#692)
  translation_finder/test_finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Apply suggestions from code review
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Apply suggestion from @nijel
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

fix lint
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Better stucture the code
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: better structure JSON detection code (#693)
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: pepare for 2.24 release
  CHANGES.rst
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
Due: none

chore: Sync with WeblateOrg/meta
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  .github/labels.yml
  .github/workflows/label-sync.yml
Due: none

chore: Sync with WeblateOrg/meta
  .editorconfig
  .github/comments/issue-fixed.md
  .github/comments/issue-fixed.md.license
  .github/comments/issue-newbie.md
  .github/comments/issue-newbie.md.license
  .github/comments/issue-resolved.md
  .github/comments/issue-resolved.md.license
  .github/workflows/closing.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .pre-commit-config.yaml
Due: blacken-docs

chore: use gh to create release
  .github/workflows/setup.yml
Due: none

chore: override zizmor warning
  .github/workflows/test.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/mypy.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/setup.yml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .markdownlint.yml
  .pre-commit-config.yaml
  .rumdl.toml
Due: none

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
  .rumdl.toml
Due: none

chore: Sync with WeblateOrg/meta
  .rumdl.toml
  pyproject.toml
Due: none

chore: fix formatting
  pyproject.toml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pull_requests.yaml
Due: none

feat: expose encoding as file format parameter
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: add support for more formats
  CHANGES.rst
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: release 3.0
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .github/actions/pre-commit-setup/action.yml
  .github/workflows/pre-commit.yml
Due: none

chore: clarified some type annotations
  translation_finder/api.py
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: drop not needed setup.py
  setup.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: extend test coverage
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat(ci): add type checking using ty
  .github/workflows/mypy.yml
  pyproject.toml
Due: none

fix: normalize parameters name after detecting content
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs
