Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --py36-plus
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        files: '\.(rst|md|markdown|py|tex)$'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: fix-encoding-pragma
        args: [--remove]
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.26.0
    hooks:
      - id: yamllint
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
exclude: "^.*\\.(properties)|\
  translation_finder/test_data/app/src/res/main/values-it/strings.xml|\
  translation_finder/test_data/app/src/res/main/values/strings.xml|\
  translation_finder/test_data/json/bom-en.json|\
  translation_finder/test_data/yaml/en/corrupt.yml$"

Remove debugging code
  translation_finder/discovery/base.py
Due: isort, pyupgrade, black, flake8, blacken-docs

finder: Use scandir instead of iterdir
  CHANGES.rst
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

finder: Improve filter_files performance
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

finder: Use regexp instead of separate fnmatch patterns
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Release
  CHANGES.rst
Due: blacken-docs

Setting version to 2.13
  CHANGES.rst
  setup.cfg
Due: blacken-docs

deps: Pin twine version
  requirements-test.txt
Due: none

Sync with WeblateOrg/meta
  pyproject.toml
Due: none

Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

Dropped support for Python 3.6
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGES.rst
  setup.cfg
Due: blacken-docs

ci: Quote Python version
  .github/workflows/setup.yml
Due: none

ci: Fix test matrixc
  .github/workflows/test.yml
Due: none

Improved detection of PWG 5100.13 based strings files
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Added support for ResourceDictionary format
  CHANGES.rst
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Release 2.13
  CHANGES.rst
Due: blacken-docs

Setting version to 2.14
  CHANGES.rst
  setup.cfg
Due: blacken-docs

Added detection of XLIFF format variants
  CHANGES.rst
  README.rst
  translation_finder/discovery/files.py
  translation_finder/test_api.py
  translation_finder/test_data/xliff/cs.poxliff
  translation_finder/test_data/xliff/en.xlf
  translation_finder/test_data/xliff/en.xliff
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/flake8.yml
  .github/workflows/pre-commit.yml
Due: none

data: Extend blacklist
  translation_finder/data.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/closing.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/stale.yml
Due: none

formats: Add more filename based detections
  translation_finder/discovery/base.py
Due: isort, pyupgrade, black, flake8, blacken-docs

discovery: Add TXT format with hints
  CHANGES.rst
  translation_finder/api.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/transifex.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: Release date
  CHANGES.rst
Due: blacken-docs

Setting version to 2.15
  CHANGES.rst
  setup.cfg
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/pull_requests.yaml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/closing.yml
Due: none

Sync with WeblateOrg/meta
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/closing.yml
  .github/workflows/flake8.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/stale.yml
Due: none

ci: Pin flake8 modules
  .pre-commit-config.yaml
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/support_question.yml
  setup.cfg
Due: none

lint: Update flake8 config
  setup.cfg
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/renovate.json
Due: none

Sync with WeblateOrg/meta
  setup.py
  translation_finder/__init__.py
  translation_finder/api.py
  translation_finder/data.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
  weblate-discovery
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  SECURITY.md
  setup.py
  translation_finder/__init__.py
  translation_finder/api.py
  translation_finder/data.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
  weblate-discovery
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/.kodiak.toml
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.yml
  .github/PULL_REQUEST_TEMPLATE.md.license
  .github/labels.yml
  .github/matchers/flake8.json.license
  .github/renovate.json.license
  .github/workflows/closing.yml
  .github/workflows/flake8.yml
  .github/workflows/label-sync.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/stale.yml
  .markdownlint.json
  .markdownlint.yml
  SECURITY.md
Due: blacken-docs
