Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

isort:
  name: isort
  entry: isort
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py36-plus
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Sync with WeblateOrg/meta
  .github/.kodiak.toml
  .github/labels.yml
  .github/workflows/pull_requests.yaml
  .markdownlint.yml
Due: none

ci: Consolidate requirements files
  .github/workflows/setup.yml
  .github/workflows/test.yml
  requirements-dev.txt
  requirements-lint.txt
Due: none

Added support for gotext JSON
  CHANGES.rst
  README.rst
  translation_finder/discovery/files.py
  translation_finder/test_api.py
  translation_finder/test_data/json/gotext-en.json
Due: isort, pyupgrade, black, flake8, blacken-docs

Follow REUSE 3.0 for specifiyng licenses
  .deepsource.toml
  .github/workflows/codeql-analysis.yml
  .github/workflows/setup.yml
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .reuse/dep5
  LICENSES/CC0-1.0.txt
  LICENSES/GPL-3.0-or-later.txt
  setup.py
  translation_finder/__init__.py
  translation_finder/api.py
  translation_finder/data.py
  translation_finder/discovery/__init__.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
  weblate-discovery
Due: isort, pyupgrade, black, flake8, blacken-docs

Added support for i18next JSON v4
  CHANGES.rst
  README.rst
  translation_finder/discovery/files.py
  translation_finder/test_api.py
  translation_finder/test_data/json/i18nextv4-en.json
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: Mention REUSE compliance
  CHANGES.rst
Due: blacken-docs

Release today
  CHANGES.rst
Due: blacken-docs

Setting version to 2.16
  CHANGES.rst
  setup.cfg
Due: blacken-docs

fix: requirements-lint.txt to reduce vulnerabilities
  requirements-lint.txt
Due: none

Test with Python 3.11
  .github/workflows/test.yml
  setup.cfg
Due: none

ci: Enable coverage on deepsource
  .deepsource.toml
Due: none

ci: Reduce pre-commit autoupdate frequency
  .pre-commit-config.yaml
Due: none

Fix UTF-16 strings detection
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

ci: Update isort configuration to use profile
  .deepsource.toml
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/config.yml
  .github/renovate.json
Due: none

Sync with WeblateOrg/meta
  .github/matchers/flake8.json
  .github/workflows/ruff.yml
  pyproject.toml
Due: none

ci: enable ruff in pre-commit
  .pre-commit-config.yaml
  pyproject.toml
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/matchers/flake8.json.license
  .github/workflows/ruff.yml
Due: none

Sync with WeblateOrg/meta
  .github/renovate.json
Due: none

ci: Use DEEPSOURCE_DSN from secrets
  .github/workflows/test.yml
Due: none

ci: Expad OS matrix list
  .github/workflows/test.yml
Due: none

ci: Fix yaml formatting
  .github/workflows/test.yml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/stale.yml
Due: none

Sync with WeblateOrg/meta
  README.rst
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/support_question.yml
Due: none

lint: Ignore RUF012 for now
  pyproject.toml
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/support_question.yml
  .github/renovate.json
Due: none

Sync with WeblateOrg/meta
  .github/workflows/labels.yml
Due: none

Sync with WeblateOrg/meta
  .github/labels.yml
  .github/workflows/label-sync.yml
  SECURITY.md
Due: blacken-docs

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/setup.yml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/test.yml
Due: none

Sync with WeblateOrg/meta
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  pyupgrade: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  black: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  flake8: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
