Repository WeblateOrg/translation-finder: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, pyupgrade, black, flake8, blacken-docs

isort:
  name: isort
  entry: isort
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --py36-plus
  language: system

black:
  name: black
  entry: black
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

deps: Bump Python version
  .github/workflows/test.yml
  pyproject.toml
  setup.cfg
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

finder: escape [ in pattern
  CHANGES.rst
  translation_finder/finder.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  requirements-lint.txt
Due: none

Sync with WeblateOrg/meta
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

Added support for Mobile Kotlin resources
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: release today
  CHANGES.rst
Due: blacken-docs

setting version to 2.17
  CHANGES.rst
  setup.cfg
Due: blacken-docs

Added support for Format.JS files
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/workflows/closing.yml
  .github/workflows/labels.yml
  .github/workflows/pre-commit.yml
Due: none

Sync with WeblateOrg/meta
  .github/FUNDING.yml
  .github/renovate.json
Due: none

data: do not detect src as language code
  translation_finder/data.py
Due: isort, pyupgrade, black, flake8, blacken-docs

Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/pre-commit.yml
  pyproject.toml
Due: none

Sync with WeblateOrg/meta
  .github/FUNDING.yml
Due: none

Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
  .github/workflows/setup.yml
  .pre-commit-config.yaml
Due: none

chore(ci): use build to build package
  .github/workflows/setup.yml
  requirements-dev.txt
Due: none

chore: test with Python 3.13
  .github/workflows/test.yml
Due: none

chore: use uv to install test deps
  .github/workflows/test.yml
Due: none

fix(ci): use system-wide installation
  .github/workflows/test.yml
Due: none

chore(ci): fix deepsource configuration
  .deepsource.toml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/workflows/pre-commit.yml
Due: none

chore: Sync with WeblateOrg/meta
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
Due: none

feat: Offer bilingual configuration for CSV
  CHANGES.rst
  translation_finder/discovery/files.py
  translation_finder/test_discovery.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: modernize package build
  .github/workflows/setup.yml
  MANIFEST.in
  pyproject.toml
  pytest.ini
  requirements-dev.txt
  requirements-lint.txt
  requirements-test.txt
  requirements.txt
  setup.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore(ci): fix deps installation
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

chore: Sync with WeblateOrg/meta
  .github/renovate.json
  .github/workflows/pre-commit.yml
  .github/workflows/pull_requests.yaml
Due: none

chore: release
  CHANGES.rst
Due: blacken-docs

chore: bump version to 2.18
  CHANGES.rst
  pyproject.toml
Due: blacken-docs

chore: Sync with WeblateOrg/meta
  .github/workflows/pull_requests.yaml
Due: none

fix: avoid crash on invalid transifex configuration
  translation_finder/discovery/transifex.py
  translation_finder/test_data/invalid/.tx/config
Due: isort, pyupgrade, black, flake8, blacken-docs

docs: document previous changes
  CHANGES.rst
Due: blacken-docs

feat: detect more appstore files
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: extend languages blacklist
  translation_finder/data.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: improved template detection for text files
  CHANGES.rst
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: improve detection of ios files
  CHANGES.rst
  translation_finder/discovery/files.py
Due: isort, pyupgrade, black, flake8, blacken-docs

chore: extended ruff linting
  pyproject.toml
  setup.py
  translation_finder/__init__.py
  translation_finder/api.py
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/discovery/transifex.py
  translation_finder/finder.py
  translation_finder/test_api.py
  translation_finder/test_discovery.py
  translation_finder/test_finder.py
  translation_finder/test_results.py
Due: isort, pyupgrade, black, flake8, blacken-docs

feat: add type annotations
  .github/matchers/mypy.json
  .github/matchers/mypy.json.license
  .github/matchers/pytest.json
  .github/matchers/pytest.json.license
  .github/workflows/mypy.yml
  CHANGES.rst
  pyproject.toml
  translation_finder/discovery/base.py
  translation_finder/discovery/files.py
  translation_finder/discovery/result.py
  translation_finder/finder.py
  translation_finder/py.typed
Due: isort, pyupgrade, black, flake8, blacken-docs

Path conditions:
  isort: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  pyupgrade: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  black: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  flake8: any of: \.py$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$, but not: ^.*\.(properties)|translation_finder/test_data/app/src/res/main/values-it/strings.xml|translation_finder/test_data/app/src/res/main/values/strings.xml|translation_finder/test_data/json/bom-en.json|translation_finder/test_data/yaml/en/corrupt.yml$
